body,
html {
    overflow-x: hidden;

}

:root {
    --couleur-blanche: ghostwhite;
    --neonbleu: blue;
    --neon-rouge: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: unset;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/mur.png");
    background-repeat: none;
    background-size: cover;
}
.all{
    width: 100%;
    height: 100%;
    font-family: 'Playball', cursive;
}
/* 
+----------------------------------------------------------------------+
| Dessus
+----------------------------------------------------------------------+
*/
.leftdessus{
    z-index: 6;
    position: absolute;
    height: 100%;
    width:50%;
    background: linear-gradient(to bottom right, black, blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 10px black;
}
.rightdessus{
    z-index: 6;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to bottom left, black, red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid 10px black;
}

.leftdessus img{
    height: 200px;
    filter: drop-shadow(0 0 .7rem var(--neon-rouge));
}
.click{
    position: absolute;
    font-size: 120px;
    color: var(--couleur-blanche);
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 15px var(--neon-rouge),
    0 0 22px var(--neonbleu),
    0 0 30px var(--neonbleu),
    0 0 100px var(--neonbleu);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    opacity: 0;
}
.loader{
    position: absolute;
    height: 200px;
    filter: drop-shadow(0 0 .7rem var(--neonbleu));
    opacity: 1;
    animation: 6s linear 0s infinite running  rotate;
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
.rightdessus img:last-child{
    height: 200px;
    filter: drop-shadow(0 0 .7rem var(--neonbleu));
    opacity: 0;
}
.leftdessus h3{
    font-size: 80px;
    color: var(--couleur-blanche);
    letter-spacing: 2px;
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--neon-rouge),
    0 0 30px var(--neon-rouge);
}
.rightdessus h3{
    font-size: 80px;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--neonbleu),
    0 0 30px var(--neonbleu);
}
.leftdessous p,
.leftdessus p{
    font-size: 40px;
    border-bottom:solid 1px white;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
        0 0 7px var(--couleur-blanche),
        0 0 10px var(--couleur-blanche),
        0 0 21px var(--couleur-blanche),
        0 0 22px var(--neon-rouge),
        0 0 30px var(--neon-rouge);
    margin-bottom: 40px;
}
.milieudessus p{
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
        0 0 7px var(--couleur-blanche),
        0 0 10px var(--couleur-blanche),
        0 0 21px var(--couleur-blanche),
        0 0 22px var(--neonbleu),
        0 0 30px var(--neonbleu);
}
.rightdessous p{
    font-size: 40px;
    border-bottom:solid 1px white;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
        0 0 7px var(--couleur-blanche),
        0 0 10px var(--couleur-blanche),
        0 0 21px var(--couleur-blanche),
        0 0 22px var(--neonbleu),
        0 0 30px var(--neonbleu);
    margin-bottom: 40px;
}
.rightdessus p{
    font-size: 40px;
    border-bottom:solid 1px white;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
        0 0 7px var(--couleur-blanche),
        0 0 10px var(--couleur-blanche),
        0 0 21px var(--couleur-blanche),
        0 0 22px var(--neonbleu),
        0 0 30px var(--neonbleu);
    margin-bottom: 40px;
    opacity: 0;
}

.milieudessus{
    z-index: 7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 20%;
    width:20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tchat h4,
.pierrej h4,
.feuillej h4,
.ciseauxj h4,
.milieudessous h4,
.milieudessus h4{
    width: 100%;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--couleur-blanche),
    0 0 30px var(--couleur-blanche);
    border-bottom-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to right, var(--neonbleu), var(--neon-rouge)) 1;

}
.milieudessus button{
    margin-top: 5px;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to right, var(--neonbleu), var(--neon-rouge)) 1;


}
.milieudessus button:hover{
    background: linear-gradient(to right, var(--neonbleu), var(--neon-rouge));    
    cursor: pointer;
    color: var(--couleur-blanche);
}

/* 
+----------------------------------------------------------------------+
| Dessous
+----------------------------------------------------------------------+
*/
.leftdessous{
    z-index: 1;
    position: absolute;
    height: 100%;
    display: none;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.leftdessous h3{
    font-size: 80px;
    color: var(--couleur-blanche);
    letter-spacing: 2px;
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--neonbleu),
    0 0 30px var(--neonbleu);
}
.rightdessous{
    z-index: 1;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.rightdessous h3{
    font-size: 80px;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--neon-rouge),
    0 0 30px var(--neon-rouge);
}
.milieudessous{
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40%;
    width:20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tchat{
    z-index: 2;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40%;
    width:20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tchat h6{
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--couleur-blanche),
    0 0 30px var(--couleur-blanche);
    border-bottom-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, var(--neonbleu), var(--neon-rouge)) 1;
    opacity: 0;

}
.tchat p{
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
        0 0 7px var(--couleur-blanche),
        0 0 10px var(--couleur-blanche),
        0 0 21px var(--couleur-blanche),
        0 0 22px var(--couleur-blanche),
        0 0 30px var(--couleur-blanche);
    opacity: 0;
}
.pierrej ,
.feuillej ,
.ciseauxj {
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40%;
    width:20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}
.pierrej p,
.feuillej p,
.ciseauxj p,
.milieudessous p{
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--couleur-blanche);
    text-shadow:
        0 0 7px var(--couleur-blanche),
        0 0 10px var(--couleur-blanche),
        0 0 21px var(--couleur-blanche),
        0 0 22px var(--couleur-blanche),
        0 0 30px var(--couleur-blanche);
}
.quit{
    padding: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to left, var(--neonbleu), var(--neon-rouge)) 1;
}
.quit:hover{
    background: linear-gradient(to left, var(--neonbleu), var(--neon-rouge));    
    cursor: pointer;
    color: var(--couleur-blanche);

}
.restart{
    padding: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(to right, var(--neonbleu), var(--neon-rouge)) 1;

}
.restart:hover{
    background: linear-gradient(to right, var(--neonbleu), var(--neon-rouge));    
    cursor: pointer;
    color: var(--couleur-blanche);

}
.choix button{
    cursor: pointer;
}
.choix button:hover{
    cursor: pointer;
}
.robotimage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.imagejoueur{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}
.robotimage img{
    height: 200px;
    filter: drop-shadow(0 0 .7rem var(--neon-rouge));   
}
.imagejoueur img{
    height: 200px;
    filter: drop-shadow(0 0 .7rem var(--neonbleu));
}
.pv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}
.pv h5{
    text-align: center;
    height: 20px;
    width: 50px;
    background-color: green;
    padding: 4px;
    border: solid 2px var(--couleur-blanche);
    font-size: 20px;
    color: black;
    box-shadow: 0 0 .2rem var(--couleur-blanche),
        0 0 .2rem var(--couleur-blanche),
        0 0 2rem var(--couleur-blanche),
        0 0 0.8rem var(--couleur-blanche),
        0 0 2.8rem var(--couleur-blanche),
        inset 0 0 1.3rem var(--couleur-blanche);
}
.pv h6{
    height: 20px;
    width: 200px;
    background-color: var(--neon-rouge);
    padding: 4px;
    border: solid 2px var(--couleur-blanche);
    font-size: 20px;
    color: black;
    box-shadow: 0 0 .2rem var(--couleur-blanche),
        0 0 .2rem var(--couleur-blanche),
        0 0 2rem var(--couleur-blanche),
        0 0 0.8rem var(--couleur-blanche),
        0 0 2.8rem var(--couleur-blanche),
        inset 0 0 1.3rem var(--couleur-blanche);
}

.choix{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftdessous button{
    color: var(--couleur-blanche);
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--neonbleu),
    0 0 30px var(--neonbleu);
    border-radius: 20px;
    font-size: 20px;
    height: 80px;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid var(--neonbleu);
    box-shadow: 0 0 .2rem var(--couleur-blanche),
        0 0 .2rem var(--couleur-blanche),
        0 0 2rem var(--neonbleu),
        0 0 0.8rem var(--neonbleu),
        0 0 2.8rem var(--neonbleu),
        inset 0 0 1.3rem var(--neonbleu);   

}

.rightdessous button{
    color: var(--couleur-blanche);
    margin: 5px;
    text-shadow:
    0 0 7px var(--couleur-blanche),
    0 0 10px var(--couleur-blanche),
    0 0 21px var(--couleur-blanche),
    0 0 22px var(--neon-rouge),
    0 0 30px var(--neon-rouge);
    border-radius: 20px;
    font-size: 20px;
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid var(--neon-rouge);
    box-shadow: 0 0 .2rem var(--couleur-blanche),
        0 0 .2rem var(--couleur-blanche),
        0 0 2rem var(--neon-rouge),
        0 0 0.8rem var(--neon-rouge),
        0 0 2.8rem var(--neon-rouge),
        inset 0 0 1.3rem var(--neon-rouge);   
}
.leftdessous button:hover{
    cursor: pointer;
    box-shadow: 0 0 .4rem var(--couleur-blanche),
    0 0 .4rem var(--couleur-blanche),
    0 0 4rem var(--neonbleu),
    0 0 1rem var(--neonbleu),
    0 0 4.2rem var(--neonbleu),
    inset 0 0 2.6rem var(--neonbleu);   

}
.rightdessous button:hover{
    cursor: not-allowed;
    box-shadow: 0 0 .4rem var(--couleur-blanche),
    0 0 .4rem var(--couleur-blanche),
    0 0 4rem var(--neon-rouge),
    0 0 1rem var(--neon-rouge),
    0 0 4.2rem var(--neon-rouge),
    inset 0 0 2.6rem var(--neon-rouge);   

}
/* 
+----------------------------------------------------------------------+
| Pour les sélections
+----------------------------------------------------------------------+
*/
::-moz-selection {
    color: black;
    background-color: #2a9df4;
}

::selection {
    color: gold;
    background-color: blue;
}

/* 
+----------------------------------------------------------------------+
| Scroll Bar
+----------------------------------------------------------------------+
*/
::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #193273;
}

::-webkit-scrollbar-thumb:hover {
    background-color: cyan;
}

::-webkit-scrollbar-button {
    height: 8px;
    background-color: #0086c8;
}